ADMIN_PASSWORD=admin

POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=odoo

# Postgres tuning — override for your needs
# PG_SHARED_BUFFERS=128MB
# PG_EFFECTIVE_CACHE_SIZE=4GB
# PG_WORK_MEM=4MB
# PG_MAINTENANCE_WORK_MEM=64MB
# PG_MAX_CONNECTIONS=100
# PG_SYNCHRONOUS_COMMIT=on